telegram-ai-assistant-gemini.json
{
  "name": "shablist",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -992,
        -32
      ],
      "id": "f023bb4f-b9dd-4544-bf1c-4ffb9d5c9565",
      "name": "Telegram Trigger",
      "webhookId": "REPLACE_AFTER_IMPORT",
      "credentials": {
        "telegramApi": {
          "id": "FP2UW9gjTcZ2xWZV",
          "name": "shabList"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        -32
      ],
      "id": "ab638532-efaf-4988-9109-fa083122b7f3",
      "name": "Send a text message",
      "webhookId": "REPLACE_AFTER_IMPORT",
      "credentials": {
        "telegramApi": {
          "id": "FP2UW9gjTcZ2xWZV",
          "name": "shabList"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Ты мой ассистент АББА. Обращайся ко мне всегда по имени {{ $json.message.from.first_name }} , будь очень учтивой и вежливой. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        -32
      ],
      "id": "ec6e3ee7-6520-4acb-be2e-ce9baa90b0ca",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        176
      ],
      "id": "127d2a6c-3cba-4b65-a266-ddc289c8b9d6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CqKlmALGRKxfABpS",
          "name": "shababListGem"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        272
      ],
      "id": "535b9c6f-e0c7-4573-b9ad-a7be88542e06",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8133b783-19b1-4a59-bb15-05c1dade16ad",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": "YOUR_TELEGRAM_USER_ID",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        -29.875
      ],
      "id": "24fcead5-3504-46d5-a35c-dbc7f4daffb0",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=у вас нет доступа",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -16,
        96
      ],
      "id": "4bc5979e-562b-4570-8eca-830304841e71",
      "name": "Send a text message1",
      "webhookId": "REPLACE_AFTER_IMPORT",
      "credentials": {
        "telegramApi": {
          "id": "FP2UW9gjTcZ2xWZV",
          "name": "shabList"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
